name: Black Duck Daily Policy Check
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-node@v4
        with:
          node-version: "16.19.x"

      - name: Build Project
        run: yarn install && yarn build-pkg nutanix

      - name: Black Duck Full Scan
        uses: synopsys-sig/synopsys-action@v1.7.0
        with:
          blackduck_url: ${{ secrets.BLACKDUCK_URL }}
          blackduck_token: ${{ secrets.BLACKDUCK_API_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          blackduck_scan_full: true
          blackduck_scan_failure_severities: 'BLOCKER,CRITICAL'